<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>
<body>
    <form action="/login" method="POST">
        <div>
            Email Id: 
            <input type="email" id="emailid" name="emailid" placeholder="Emailid"  required>
        </div>
        <div>
            Password:
            <input type="password" id="password" name="password" placeholder="password" required>
        </div>
        
            <button type="submit">Login</button>
        <div>
            <a href="/signup"> Signup</a>
        </div>
    </form>
</body>
</html>