/* style.css */
.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    height: 100vh; /* Adjust the height as needed */
  }
  
  .menu-button {
    background: none;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
  }
  

  .profile-icon {
    width: 100px; /* Adjust the width and height to fit your design */
    height: 100px;
    border-radius: 100%; /* Makes the element circular */
    background-color: blue; /* Set your desired background color */
  }

